pandas # ==1.2.3
requests # ==2.25.1
psutil    # for benchmarks
#! speedtest # for benchmarks
# packaging   # for noaodatalab
sphinx
sphinx_rtd_theme
specutils
# jupyter-lab --ip=0.0.0.0
# jupyterlab # =3.1.17
matplotlib #-3.4.3
